body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.klasemen {
  margin-left: 200px;
}

.white {
  color: white;
}

.table {
  width: 750px;
}

.table td,
.table th {
  border-collapse: collapse;
  padding: 30px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid black;
}